<div id="ControlPanel">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-right:40px">
                <h6 style="display: inline; user-select: none">Control Panel</h6>
            </div>
            <div style="float: right; margin-right:10px">
                <!-- <span style="user-select: none">Plate: </span>
                <select v-model="selectedPlate">
                    <option disabled value="">Please select one</option>
                    <option v-for="plateId in plateList" :value="plateId">{{plateId}}</option>
                </select> -->
            </div>
        </div>
        <div class="card-block" id="controlPanelContainer">
        </div>
    </div>
</div>
